.nolik {
    width: -moz-fit-content;
    width: -webkit-fit-content;
    height: -moz-fit-content;
    height: -webkit-fit-content;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    flex-direction: column;
}
.nolik>.row {
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
}
.nolik>.row>.no-pixel {
    width: 20px;
    height: 20px;
}
.nolik>.row>.pixel {
    width: 20px;
    height: 20px;
    border-radius: 20%;
    background-image: radial-gradient(at 50% 35%, #32d7a3 0%, #1ca788 90%);
    transition-delay: 0s;
    transition-property: all;
    transition-duration: 0.03s;
}
.nolik>.row>.pixel.bg {
    background-image: radial-gradient(at 50% 35%, #4a8877 0%, #3a6d5e 90%);
}
.nolik>.row>.pixel:hover, .nolik>.row>.pixel.activated {
    filter: contrast(140%) blur(1.3px);
    transform: scale(1.4);
    transition-duration: 0.03s;
}
